body{
    background-color: #F9F1DC;
    font-family: Garamond;
}
nav{
    margin-bottom: 3em;
    text-align: center;
}
nav ul{
    list-style-type: none;
}
nav li{
    display: inline;
    font-size: 3em;
    padding: 0.5em;
    margin: 3%;
    background-color: #ffffff;
    border-radius: 5em;
}
/* link active visited hover */
a{
    text-decoration: None;
}
a:visited, a:link{
    color: black;
}
a:hover{
    color: red;
}
a:active{
    color: green;
}
h1{
    text-align: center;
}
figure{
    text-align: center;
}
.comidas ul{
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}
.comidas li{
    display: inline;
}
h2{
    font-size: 2em;
    text-align: center;
    border-bottom: 3px solid #000000;
}
p{
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
}
footer{
    background-color: #ffffff;
    padding: 3em;
    margin: 0;
}
table{
    margin: 3em auto;
    width: 40%;
}
table caption{
    font-size: 2em
}
table tr td:nth-child(2){
    width: 60%;
    text-align: center;
    font-size: 1.5em;
}
table tr td:nth-child(3){
    width: 21.5%;
    text-align: right;
    font-size: 1.5em;
}